<!-- <form [formGroup]="form" (ngSubmit)="signin()">
  <label><b>User Name </b> </label>
  <input type="text" name="Uname" id="Uname" placeholder="Username" />
  <br /><br />
  <label><b>Password </b> </label>
  <input type="Password" name="Pass" id="Pass" placeholder="Password" />
  <br /><br />
  <button type="submit" name="log" id="log">Login</button>
  <br /><br />
  <input type="checkbox" id="check" />
  <span>Remember me</span>
  <br /><br />
  Forgot <a href="#">Password</a>
</form> -->
<!-- Default form login -->

<div class="bg-gradient-primary container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome !</h1>
                </div>

                <div
                  *ngIf="shouldDisplayErrorMessage"
                  class="alert alert-danger mg-b-4"
                  role="alert"
                >
                  <button
                    aria-label="Close"
                    class="close"
                    data-dismiss="alert"
                    type="button"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                  {{ errorMessage }}
                </div>

                <form [formGroup]="form" (ngSubmit)="signin()">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      formControlName="username"
                      aria-describedby="username"
                      placeholder="Entrer nom d'utilisateur"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      formControlName="password"
                      placeholder="Password"
                    />
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small"></div>
                  </div>
                  <input
                    type="submit"
                    class="btn btn-primary btn-user btn-block"
                    value="Login"
                  />
                  <br />
                  <br />
                </form>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
