<div class="page-wrapper">
  <div id="wrapper">
    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <app-topbar></app-topbar>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div
            class="d-sm-flex align-items-center justify-content-between mb-4"
          >
            <h1 class="h3 mb-0 text-gray-800">Ajout d'un nouveau rapport</h1>
          </div>

          <!-- Content Row -->
          <div
            *ngIf="shouldDisplayErrorMessage"
            class="alert alert-danger mg-b-4"
            role="alert"
          >
            <button
              aria-label="Close"
              class="close"
              data-dismiss="alert"
              type="button"
            >
              <span aria-hidden="true">×</span>
            </button>
            {{ errorMessage }}
          </div>
          <div
            *ngIf="shouldDisplaySuccessMessage"
            class="alert alert-success mg-b-4"
            role="alert"
          >
            <button
              aria-label="Close"
              class="close"
              data-dismiss="sucess"
              type="button"
            >
              <span aria-hidden="true">×</span>
            </button>
            {{ successMessage }}
          </div>

          <form [formGroup]="form" (ngSubmit)="addReportingPeriod()">
            <p class="help-block text-danger invisible">
              <small>Remplir tous les champs</small>
            </p>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Date début</label>
                  <div class="input-group date">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="startDate"
                      name="ds"
                      ngbDatepicker
                      #dd="ngbDatepicker"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary calendar"
                        type="button"
                        (click)="dd.toggle()"
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Date de Fin</label>
                  <div class="input-group date">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="endDate"
                      name="dp"
                      ngbDatepicker
                      #d="ngbDatepicker"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary calendar"
                        type="button"
                        (click)="d.toggle()"
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <br />
            <input
              type="submit"
              class="btn btn-primary btn-user btn-block"
              value="Valider"
            />

            <!-- container close -->
          </form>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
</div>
