<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="#"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <em class="fas fa-shuttle-van"></em>
    </div>
    <div class="sidebar-brand-text mx-3">ss-paiement</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->

  <li class="nav-item active">
    <a class="nav-link" href="/home/">
      <em class="fas fa-fw fa-tachometer-alt"></em>
      <span>Bienvenue</span></a
    >
  </li>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="/salaries/">
      <i class="fas fa-fw fa-users"></i>
      <span>Salariés</span>
    </a>
  </li>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="/reporting/">
      <em class="fas fa-fw fa-clipboard"></em>
      <span>Rapports</span>
    </a>
  </li>
  <!-- Nav Item - Pages Collapse Menu -->

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Configurations</div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/param-smtp/">
      <em class="fas fa-fw fa-balance-scale"></em>
      <span>Paramètres SMTP</span>
    </a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->

  <!-- Divider -->

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
